.TodoListItem{
    display: flex;
    padding: 10px 15px;
    align-items: center;

    &:nth-child(even){
        background: #F5F5F5;
    }

    .checkbox{
        display: flex;
        flex: 1;
        align-items: center;
        svg{
            cursor: pointer;
            font-size: 25px;
        }
        .text{
            margin-left:10px;
        }

        &.checked{
            svg{
                color:#34a782;
            }
            .text{
                color:#adb5bd;
                text-decoration: line-through;
            }
        }
    }

    .remove{
        display: flex;
        align-items: center;
        font-size: 25px;
        color: #ff6b6b;
        cursor: pointer;
        &:hover{
            color: #ff8787;
        }
    }

    &+&{
        border-top:1px solid  #dee2e6;
    }
}